<!DOCTYPE HTML>

<html>
<head>
  <title><%= current_page.data.site.title || "Projet BAO" %> - <%= current_page.data.site.categorie %></title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag "milena" %>
  <%= stylesheet_link_tag "highlight_milena" %>
  <!--

             _     _     _ _
            (_)   | |   | | |
   _ __ ___  _  __| | __| | | ___ _ __ ___   __ _ _ __   __ _ _ __  _ __   ___ ___  _ __ ___
  | '_ ` _ \| |/ _` |/ _` | |/ _ \ '_ ` _ \ / _` | '_ \ / _` | '_ \| '_ \ / __/ _ \| '_ ` _ \
  | | | | | | | (_| | (_| | |  __/ | | | | | (_| | | | | (_| | |_) | |_) | (_| (_) | | | | | |
  |_| |_| |_|_|\__,_|\__,_|_|\___|_| |_| |_|\__,_|_| |_|\__,_| .__/| .__(_)___\___/|_| |_| |_|
                                                             | |   | |
                                                             |_|   |_|


  --->
</head>

<body>

<!-- Header et onglets -->
  <%= partial "partials/logo" %>
  <%= partial "partials/onglets" %>

<!-- Reste de la page -->
  <div id ="content-wrapper">
    <div id ="content">
      <%= yield %>
    </div>
  </div>

<!-- Footer -->
  <%= partial "partials/footer" %>
</body>
</html>
