<!DOCTYPE HTML>

<html>
<head>
  <title><%= current_page.data.site.title || "Projet BAO" %> - <%= current_page.data.site.categorie %></title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag "milena" %>
  <%= stylesheet_link_tag "highlight" %>
</head>

<body>
<!-- Header et logo-->
  <%= partial "partials/logo" %>
  <%= partial "partials/header" %>
  <%= partial "partials/onglets" %>

<!-- Reste de la page-->
  <div id ="content-wrapper">
    <div id ="content">
      <%= yield %>
    </div>
  </div>

<!-- Footer -->
  <%= partial "partials/footer" %>
</body>
</html>
