<!doctype html>
<html lang="fr">
<head>
      <meta charset="utf-8">
      <meta content="IE=edge" http-equiv="X-UA-Compatible">
      <meta name="viewport" content="width=device-width,initial-scale=1">

     <title><%= current_page.data.site.title %></title>

    <!--<%= yield_contenthead %>-->
    <%= stylesheet_link_tag :site %>

  </head>
  <body>

    <%= partial "/partials/onglets" %>
    <%= partial "/partials/header" %>

  <h2>
    <%= current_page.data.site.categorie %>
  </h2>

    <%= yield %>

    <%= partial "/partials/footer" %>
    <%= javascript_include_tag :all %>

  </body>
</html>