<section id = "onglets_bao_margaux">
  <aside>
    <%= link_to(
      "Retour ↑",
      "margaux.html#logo",
    ) %>
    <%= link_to(
      "BAO 1",
      "margaux.html#bao1",
    ) %>
    <%= link_to(
      "BAO 2",
      "margaux.html#bao2",
    ) %>
    <%= link_to(
      "BAO 3",
      "margaux.html#bao3",
    ) %>
    <%= link_to(
      "BAO 4",
      "margaux.html#bao4",
    ) %>
    <%= link_to(
      "Conclusion",
      "margaux.html#conclu",
    ) %>
  </aside>
</section>
