<section id = "onglets_milena">
  <aside>
    <%= link_to(
      "Retour ↑",
      "milena.html#logo",
    ) %>
    <%= link_to(
      "BAO 1 et 2",
      "milena.html#bao1_2",
    ) %>
    <%= link_to(
      "BAO 3",
      "milena.html#bao3",
    ) %>
    <%= link_to(
      "BAO 4",
      "milena.html#bao4",
    ) %>
    <%= link_to(
      "Conclusion",
      "milena.html#conclu",
    ) %>
  </aside>
</section>
