<!-- onglets généraux -->
<section id ="onglets">
  <aside>
    <div class="row">
    <%= link_to(
      "Accueil",
      "index.html",
    ) %>
    <%= link_to(
      current_page.data.author.milena,
      "milena.html",
    ) %>
    <%= link_to(
      current_page.data.author.margaux,
      "margaux.html",
    ) %>
    <%= link_to(
      current_page.data.author.ferial,
      "ferial.html",
    ) %>
    </div>
    <h2><%= current_page.data.site.categorie %></h2>
  </aside>
</section>
