---
site:
  title: Projet BAO
  categorie: Accueil
  description: Projet de traitement automatique des langues, utilisant Perl et XSLT
  credits: Avatars réalisés sur le <a href="http://www.bouletcorp.com/2016/01/23/le-bouletmaton/">Bouletmaton</a>.

author:
  all: Milena Chaîne, Margaux Duhayon, Ferial Yahiaoui
  milena: Milena Chaîne
  margaux: Margaux Duhayon
  ferial: Ferial Yahiaoui
  school: Inalco

master:
  site: "http://www.tal.univ-paris3.fr/plurital/"

layout: layout
---

<% content_for :logo do %>
<%= image_tag "logo.jpg" %>
<% end %>

<p><B><%= link_to("Le Master pluriTal","http://www.tal.univ-paris3.fr/plurital/",) %></B>, dans le cadre duquel nous avons réalisé ce projet, est cohabilité entre trois établissements : Inalco (Institut national des langues et civilisations orientales), Université Paris III - Sorbonne Nouvelle, Université Paris X - Nanterre. </p>
<p>Pour le projet encadré du second semestre, il nous a aussi été demandé de réaliser un site pour présenter nos travaux respectifs. Mais à la différence du premier semestre où nous débutions et où nous avons dû utiliser des templates de sites, celui-ci a été entièrement créé par nos soins en langage <B><%= link_to("Ruby", "https://www.ruby-lang.org/fr",) %></B> .</P>
<p>Bien que la création des sites en <%= link_to("Ruby", "https://www.ruby-lang.org/fr",) %> se fasse souvent sur le framework <B><%= link_to("Rails", "https://fr.wikipedia.org/wiki/Ruby_on_Rails",) %></B> et étant donné que notre contenu ne nécessite pas un site dynamique avec une base de données, nous avons opté pour le framework <B><%= link_to("Middleman", "https://middlemanapp.com",) %></B>, un générateur de sites statiques.</P>

<h3> <%= image_tag 'id_white_32px.png', :class => "icon" %> À propos de nous </h3>

<div class="avatar"><p> <%= image_tag 'avatars/milena_av.jpg', :class => "avatar" %> <b>Milena Chaîne</b></p>
<p>Étudiante en Master 1 TAL à l'Inalco.</p>
<p> Après des études d'anglais à l'ENS de Lyon, elle a décidé de compléter sa formation en linguistique informatique, en s'intéressant notamment à l'anglais et l'allemand.</p>
<p> <a href="mailto:milena.chaine@gmail.com"> Mail </a></p></div>

<div class="avatar"><p> <%= image_tag 'avatars/margaux_av.png', :class => "avatar" %> <b>Margaux Duhayon</b></p>
<p>Étudiante en Master 1 TAL à l'Inalco.</p>
<p>Après une licence LLCER Asie et Pacifique Khmer à L'INALCO, elle a décidé de continuer en master dans la langue cambodgienne tout en se spécialisant dans l'informatique. Ce que permettait le master Traitement Automatique des Langues.</p>
<p> <%= link_to("Lien Linkedin", "https://www.linkedin.com/in/margaux-duhayon-237390157/",)%>
<p> <a href="mailto:margaux.duhayon0105@gmail.com"> Mail </a></p></div>

<div class="avatar"><p> <%= image_tag 'avatars/ferial_av.jpg', :class => "avatar" %>  <b>Ferial Yahiaoui</b> </p>
<p>Étudiante en Master 1 TAL à l'Inalco.</p>
<p>Après un premier master recherche en Sciences du langage à l'Université Paris III - Sorbonne Nouvelle, elle a décidé de se réorienter vers un parcours professionnalisant en optant pour le traitement automatique des langues.</p>
<p> <a href="mailto:ferial.yahiaoui13@gmail.com"> Mail </a></p></div>

<h3> <%= image_tag 'computer_32px.png', :class => "icon" %> À propos du master </h3>
<p>Le master Traitement automatique des langues est un master cohabilité par les universités Paris III, Paris X et l'Inalco. Il propose une formation de 3ème cycle en ingénierie linguistique avec, en M1, un tronc commun aux étudiants des trois universités partenaires comprenant, entre autres, des cours de linguistique, programmation, codages des écritures, sémantique, etc. En deuxième année (M2), 3 parcours sont possibles : soit recherche et développement, soit Ingénierie multilingue, pour les étudiants ayant de bonnes connaissances en programmation, soit Traductique et gestion de l'information, pour les étudiants ayant de bonnes connaissances en langues et traduction. </p>
<p><%= link_to("Source de la description", "http://www.inalco.fr/formations/formations-diplomes/accueil-formations-diplomes/masters/master-tal",) %></p>

<h3> <%= image_tag 'ruby_32px.png', :class => "icon" %> À propos de Ruby & Women On Rails </h3>
<p>Après notre expérience avec la création d'un site web au premier semestre, nous souhaitions toutes les trois approfondir nos connaissances en développement web. Nous avons choisi le langage de programmation <%= link_to("Ruby","https://www.ruby-lang.org/fr/",) %> en raison de sa flexibilité. Nous avons également reçu l'aide précieuse de la <%= link_to("section parisienne du groupe Women On Rails", "https://www.meetup.com/fr-FR/Women-On-Rails/",) %>, un groupe de travail qui nous a accompagné au cours du semestre et qui nous a permis de découvrir ce langage dans un environnement bienveillant.</p>
<p>Nous avons essayé de tirer parti du maximum des outils proposés par Ruby et Middleman pour créer notre site. Ce fut une expérience très enrichissante et une introduction plus formelle à l'univers du développement web qui, nous l'espérons, s'avérera utile tant l'année prochaine qu'à la suite du master.</p>
<p>La version finale du site se présente sous la forme de pages HTML, mais l'intégralité de notre code Ruby/HTML (ainsi que nos scripts) est disponible sur la page de notre projet <%= link_to("GitHub", "https://github.com/milenachaine/projet_encadre",) %>, qui a été un autre outil essentiel de notre travail de groupe.</p>


<h3> <%= image_tag 'github/GitHub-Mark-Light-32px.png', :class => "icon" %> À propos de GitHub </h3>
<p>Pour notre projet et notre volonté de travailler à trois, nous avons utilisé la plateforme open source <b>GitHub</b>. </p>
<p>GitHub est une plateforme qui permet aux développeurs de stocker un code source et de suivre l'évolution de ce code. Il permet d'être à plusieurs sur le même code en le téléchargeant sur sa propre machine pour ensuite le "pusher" sur la plateforme commune. GitHub possède son propre langage que nous avons appris seules au fur et à mesure que notre projet avançait. Cela nous a permis de travailler sur le même code sans être réunies dans la même pièce.</p>
<p>C'est une plateforme et un langage importants dans le monde professionnel, dont la maîtrise n'est pas évidente, et il nous semble qu'il serait pertinent d'encourager son utilisation le plus tôt possible au sein du master.</p>
<p>Notre projet se trouve sur la plateforme : <%= link_to("projet GitHub", "https://github.com/milenachaine/projet_encadre",)%>  </p>

<h3> <%= image_tag 'sheet_transparent_white_32px.png', :class => "icon" %> À propos du projet </h3>
<p>L'objectif de ce projet de boîtes à outils (BAO) est de créer une chaîne de traitement semi-automatique de données textuelles, depuis leur recueil jusqu'à leur analyse. Plus spécifiquement, le corpus analysé cette année est composé de l'ensemble des fils RSS du journal <em>Le Monde</em> au cours de l'année 2017, classés chronologiquement et divisés par rubriques (ex. International, Culture, etc.). On souhaite mettre en place une chaîne de traitement (composée de quatre boîtes à outils successives) pour traiter ce corpus :</p>
<ol>
  <li>d'abord, on choisit une rubrique dont on extraira tous les titres et résumés d'articles dans les fils RSS</li>
  <li>on traitera ensuite ces données avec deux étiqueteurs morpho-syntaxiques, <%= link_to("TreeTagger","http://www.cis.uni-muenchen.de/~schmid/tools/TreeTagger/",) %>, et <%= link_to("Cordial","https://www.cordial.fr/enligne.php",) %>, qui étiquèteront nos données de façons différentes</li>
  <li>on extraira ensuite dans ces données des patrons morpho-syntaxiques, qu'on compilera dans des fichiers</li>
  <li>à partir de ces fichiers, on créera des graphes représentant les co-occurents de ces patrons</li>
</ol>
<p>D'un point de vue plus informatique, le schéma ci-dessous illustre les différents outils employés au cours de ces étapes :</p>
<%= image_tag 'schema/bao_schema_white.png' %>
<p>L'intérêt du projet est donc double : on va bien sûr essayer d'analyser les données obtenues en fin de chaîne. Mais il s'agit également de comparer différents outils (Cordial et TreeTagger) et méthodes (Perl et XSLT) d'étiquetage.</p>

<p> Nous avons décidé de prendre chacune 3 rubriques différentes mais dans un thème assez similaire.</p>
<p><br/> Milena a travaillé sur les rubriques :
<br/> - La rubrique 3214 qui est la rubrique <em>Europe</em>.
<br/> - La rubrique 3210 qui est la rubrique <em>International</em>.
<br/> - la rubrique 3224 qui est la rubrique <em>Société</em>.</p>
<p><br/> Ferial a travaillé sur les rubriques :
<br/> - La rubrique 3476 qui est la rubrique <em>Cinéma</em>.
<br/> - La rubrique 3232 qui est la rubrique <em>Idées</em>.
<br/> - la rubrique 3260  qui est la rubrique <em>Livres</em>.</p>
<p><br/> Margaux a travaillé sur les rubriques :
<br/> - La rubrique 3546 qui est la rubrique <em>Voyage</em>.
<br/> - La rubrique 651865 qui est la rubrique <em>Tech</em>.
<br/> - la rubrique 3236  qui est la rubrique <em>Média</em>.</p>
<p><br/><br/><br/></p>
