---
site:
  title: Projet BAO
  categorie: Accueil
  description: Projet de traitement automatique des langues, utilisant Perl et XSLT

author:
  all: Milena Chaîne, Margaux Duhayon, Ferial Yahiaoui
  milena: Milena Chaîne
  margaux: Margaux Duhayon
  ferial: Ferial Yahiaoui
  school: Inalco

master:
  site: "http://www.tal.univ-paris3.fr/plurital/"



layout: layout
---

<% content_for :logo do %>
<%= image_tag "logo.jpg" %>      
<% end %>



<p><B><%= link_to("Le Master pluriTal","http://www.tal.univ-paris3.fr/plurital/",) %></B>, dans le cadre duquel nous avons réalisé ce projet, est cohabilité entre trois établissements : Inalco (Institut national des langues et civilisations orientales), Université Paris III - Sorbonne Nouvelle, Université Paris X - Nanterre. <p> </br>
</br>

<p>Pour le projet encadré du second semestre, il nous a aussi été demandé de réaliser un site pour présenter nos travaux respectifs. Mais à la différence du premier semestre où nous débutions et où nous avons dû utiliser des templates de sites, celui-ci a été entièrement créé par nos soins en langage <B><%= link_to("Ruby", "https://www.ruby-lang.org/fr",) %><B> .<P> 
</br>

<p>Bien que la création des sites en <B><%= link_to("Ruby", "https://www.ruby-lang.org/fr",) %><B> se fasse souvent sur le framework <B><%= link_to("Rails", "https://fr.wikipedia.org/wiki/Ruby_on_Rails",) %><B> et étant donné que notre contenu ne nécessite pas un site dynamique avec une base de données, nous avons opté pour le framework <B><%= link_to("Middleman", "https://middlemanapp.com",) %><B>, un générateur de sites statiques.<P> 



=======
<%= image_tag 'bao_schema_white.png' %>
>>>>>>> 2de24a397cc8a9f83d3a54457cfd80d9ac8ca72d

<p>Mise en oeuvre d'une chaîne de traitement textuel semi-automatique, depuis la récupération des données jusqu'à leur présentation. Ce cours posera d'abord la question des objectifs linguistiques à atteindre (lexicologie, recherche d'information, traduction...) et fera appel aux méthodes et outils informatiques nécessaires à leur réalisation (récupération de corpus, normalisation des textes, segmentation, étiquetage, extraction, structuration et présentation des résultats...). Ce cours sera aussi l'occasion d'une évaluation critique des résultats obtenus, d'un point de vue quantitatif et qualitatif.</p>

<h3>jdsijfisdkfhneysfhefncidcfniodjfuinedfhcyufbejohfoije </h3>
