---
site:
  title: Projet BAO
  categorie: Margaux Duhayon
  description: Projet de traitement automatique des langues, utilisant Perl et XSLT

author:
  all: Milena Chaîne, Margaux Duhayon, Ferial Yahiaoui
  milena: Milena Chaîne
  margaux: Margaux Duhayon
  ferial: Ferial Yahiaoui
  school: Inalco

master:
  site: "http://www.tal.univ-paris3.fr/plurital/"

bao:
  bao1: Boîte à outils n°1
  bao2: Boîte à outils n°2
  bao3: Boîte à outils n°3
  bao4: Boîte à outils n°4

corps:
  script: Script
  expl: blablabla
---

<% link_to current_page.data.master.site do %>
  <%= image_tag 'logo.jpg' %>
<% end %>

<h1>
  <%= current_page.data.bao.bao3 %>
</h1>


<h2>
  <%= current_page.data.corps.expl %>
</h2>

<h2>
  <%= current_page.data.corps.script %>
</h2>

<h2>
  <%= current_page.data.corps.schema %>
</h2>

<p> EXPLICATION BAO3 </p>
